/*Matvey Bouhartsev, 2021*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--gray: #e8e8e8;
	--red: #f05454;
	--blue: #30475e;
	--black: #222831;
}

::-moz-selection {
	color: white;
	background: var(--blue);
}

::selection {
	color: white;
	background: var(--blue);
}

body {
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;

	color: var(--black);

	background: var(--gray) url('./img/top_sh_en.png');
	background-repeat: no-repeat;
	background-position: 15vw calc(100% - 80px);
	background-size: 105% auto;
}

header {
	width: 100%;
	min-height: 100px;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	background-color: var(--red);

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.title {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.title .logo {
	height: 100px;
	margin: 0 20px;
}

h1 {
	white-space: nowrap;
	margin: 20px 30px;
}

.description {
	width: 400px;
	height: 100%;
	margin: 0 20px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.description .info {
	height: 50px;
	margin: 0 10px;
}

main {
	width: 75%;
	margin: auto;
}

.addTask {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	width: 100%;
	height: 200px;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	padding: 20px 0;
	font-size: 20px;
}

.addTask input {
	height: 2.5em;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: inherit;
}

.lblNew, input[name="taskText"] {
	margin-right: 1em;
}

input[name="taskText"] {
	border: none;
	border-bottom: 2px var(--black) solid;
	outline:none;

	padding: 1em;
	max-width: 100%;
}

input[name="taskText"]::-webkit-input-placeholder {
	color: darkgray;
}

input[name="taskText"]::-moz-placeholder {
	color: darkgray;
}

input[name="taskText"]:-ms-input-placeholder {
	color: darkgray;
}

input[name="taskText"]::-ms-input-placeholder {
	color: darkgray;
}

input[name="taskText"]::placeholder {
	color: darkgray;
}

input[type="submit"] {
	border: none;
	outline:none;
	border-radius: 0.8em;
	padding: 0 0.5em;

	background: var(--red);
	color: var(--gray);
	-webkit-box-shadow: 4px 4px 10px -5px var(--black);
	        box-shadow: 4px 4px 10px -5px var(--black);
	-webkit-transition: -webkit-transform .1s, -webkit-box-shadow .1s;
	transition: -webkit-transform .1s, -webkit-box-shadow .1s;
	-o-transition: transform .1s, box-shadow .1s;
	transition: transform .1s, box-shadow .1s;
	transition: transform .1s, box-shadow .1s, -webkit-transform .1s, -webkit-box-shadow .1s;
}

input[type="submit"]:hover{
	cursor: pointer;
	-webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05);
	-webkit-box-shadow: 4px 4px 15px -5px var(--black);
	        box-shadow: 4px 4px 15px -5px var(--black);
}

.columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.columns>div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;

	background: rgba(254,254,254,0.7);
	border: 1px var(--black) dashed;

	padding: 20px;
	margin-bottom: 40px;
	min-width: 250px;
	width: 25%;
	min-height: 500px;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}

.columns h2 {
	margin: 0.5em 0;
	font-size: 2em;
}

.columns h2::first-letter {
	text-transform: uppercase;
}

.card {
	position: relative;
	min-height: 350px;
	height: fint-content;
	width: 100%;
	background: var(--gray);

	-webkit-box-shadow: 4px 4px 10px -5px var(--black);

	        box-shadow: 4px 4px 10px -5px var(--black);

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	border-radius: 15px;
	padding: 15px;
	padding-bottom: 90px;
	margin: 15px 0;

	font-size: 1.2em;

	-webkit-animation: addTask 1s ease-in-out 1;

	        animation: addTask 1s ease-in-out 1;
}

.card .head {
	font-size: 1.3em;
	text-align: center;
	font-weight: 500;
	margin-bottom: 1em;
}

.card p {
	margin: 0;
}

.card .check {
	right: 80px;
	background: url('./img/check.svg') no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(-15%, var(--gray)), color-stop(50%, var(--blue)));
	background: url('./img/check.svg') no-repeat, -o-linear-gradient(var(--gray) -15%, var(--blue) 50%);
	background: url('./img/check.svg') no-repeat, linear-gradient(var(--gray) -15%, var(--blue) 50%);
}

.card .pencil {
	background: url('./img/pencil.svg') no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(-15%, var(--gray)), color-stop(50%, var(--blue)));
	background: url('./img/pencil.svg') no-repeat, -o-linear-gradient(var(--gray) -15%, var(--blue) 50%);
	background: url('./img/pencil.svg') no-repeat, linear-gradient(var(--gray) -15%, var(--blue) 50%);
}

.card .cross {
	background: url('./img/x.svg') no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(-15%, var(--gray)), color-stop(50%, var(--blue)));
	background: url('./img/x.svg') no-repeat, -o-linear-gradient(var(--gray) -15%, var(--blue) 50%);
	background: url('./img/x.svg') no-repeat, linear-gradient(var(--gray) -15%, var(--blue) 50%);
}

.card .pencil, .card .cross {
	right: 15px;
}

.card button {
	height: 50px;
	width: 50px;
	border-radius: 100%;

	border: none;
	outline: none;

	background-size: 50% !important;
	background-position: center !important;

	position: absolute;
	bottom: 20px;

	-webkit-transition: -webkit-transform .1s, -webkit-box-shadow .1s;

	transition: -webkit-transform .1s, -webkit-box-shadow .1s;

	-o-transition: transform .1s, box-shadow .1s;

	transition: transform .1s, box-shadow .1s;

	transition: transform .1s, box-shadow .1s, -webkit-transform .1s, -webkit-box-shadow .1s;
}

.card button:hover {
	cursor: pointer;
	-webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05);
	-webkit-box-shadow: 4px 4px 5px -5px var(--black);
	        box-shadow: 4px 4px 5px -5px var(--black);
}

footer {
	background: var(--blue);
	color: white;

	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 10px;
	text-align: center;
}

footer a {
	color: white;
}

footer p {
	margin: 0;
}

footer *::-moz-selection {
	color: var(--blue) !important;
	background: var(--gray) !important;
}

footer *::selection {
	color: var(--blue) !important;
	background: var(--gray) !important;
}

@-webkit-keyframes addTask {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

@keyframes addTask {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

@media(max-width: 400px) {
	body {
		zoom: 0.8;
	}
}
